@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.accounttype-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  color: #fff;
  padding: 40px 20px;
}

p {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  -webkit-text-stroke: 1px black;
}

.accounttype-box-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.accounttype-box {
  width: 45%;
  height: 150px;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
  font-weight: 600;
  font-size: 18px;
  text-shadow: none;
  -webkit-text-stroke: 0;
  box-shadow: none;
  gap: 15px;
}

.account-icon {
  font-size: 80px;
  margin: 0;
  line-height: 1;
  filter: none;
}

.accounttype-box span {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.student-box {
  background-color: #fff;
  color: #877242;
}

.teacher-box {
  background-color: #fff;
  color: #778f51;
}

.accounttype-box:hover {
  transform: scale(1.05);
  box-shadow: none;
}
